@page {
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
  .remark-slide-content {
    background-size: 1210px 400px;
  }
}
@font-face {
  font-display: swap;
  font-family: Frutiger W01;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix);
  src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix) format("eot"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2) format("woff2"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff) format("woff"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.ttf) format("truetype"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115) format("svg")
}
body { font-family: 'Frutiger W01',Arial,sans-serif;}
h1, h2, h3 {
  font-family: 'Frutiger W01',Arial,sans-serif;
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.remark-slide-content {
  background-position: top;
  font-size: 15pt;
}
.remark-slide-content h3 {
  font-size: 22px;
}
.red-line {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
li {
  padding-bottom: 2ex;
}
.table-slide {
  padding: 0em 2em 0em 3em;
  vertical-align: top !important;
}
.table-slide h1, .table-slide h2 {
  color: white;
  margin-top: 0.5ex;
} 
.quote-slide {
  vertical-align: middle !important;   
}
.quote-slide h1, .quote-slide h2 {
  color: black;
} 

.compact-slide {
  font-size: small;
}      
.squish-slide {
  font-size: x-small;
}
.diagram-slide img {
  max-height: 500px;
}
.column-lines table {
  border-collapse: collapse;
}
.column-lines td + td {
  border-left: 1px solid black;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}  
.row-lines tr + tr {
  border-top: 1px solid black;
}
.row-lines td {
  padding-top: 1ex;
  padding-bottom: 1ex;
}
.float-left {
  float:left;
  padding-left:50px;
}
